.time-numbers > *, .time-entry > * {
    display: inline-block;
}

.timepicker {
    margin-right: 15px;
}

.brand-logo a{
    text-decoration: none;
}

nav .brand-logo {
  font-size: 2.6rem;
  padding: 0.2rem;
  text-shadow: 1px 1px 8px #696969;
}

.totals {
    font-weight: 900;
}

@media (min-width: 546px) {
    .course-entry-course {
        position: relative;

    }
}