<nav>
    <div class="nav-wrapper teal z-depth-2">
        <div class="row">
            <a class="brand-logo right" href="#">mcleTrackr</a>
            <div class="section col s6 left">
                <select class="browser-default" ng-model="timekeeper" ng-options="timekeeper as timekeeper.username for timekeeper in timekeepers | orderBy:['lastname','firstname']" ng-change="changeTimekeeper(timekeeper)" material-select watch>
                    <option value="" disabled selected>select timekeeper</option>

                </select>
            </div>
        </div>
    </div>
</nav>



<div class="container">
    
    <form name="courseForm" class="col s12" ng-show="timekeeper">
        <br>
        <div class="row">
            <div class="input-field col s4">
                <input type="text" class="datepicker" ng-model="vm.dateIn" id="lblDate">
                <label for="lblDate">activity date</label>
            </div>
            <div class="input-field col s4">
                <input class="validate" type="text" ng-model="vm.clockIn" id="lblHours" value="0.00" step="0.01" />
                <label for="lblHours" data-error="must be valid integer">hours done (00.00)</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <select class="" ng-model="vm.categoryIn" id="lblCategory">
                    <option value="" disabled selected></option>
                    <option value="1">regular</option>
                    <option value="2">legal ethics</option>
                    <option value="3">competence</option>
                    <option value="4">elim. of bias</option>
                </select>
                <label for="lblCategory">activity category</label>
            </div>
            <div class="input-field col s4">
                <select class="" ng-model="vm.studyIn" id="lblStudy">
                    <option value="" disabled selected></option>
                    <option value="1">participatory</option>
                    <option value="2">self-study</option>
                </select>
                <label for="lblStudy">study type</label>
            </div>
            <div class="input-field col s4">
                <input class="validate" type="text" ng-model="vm.providerIn" id="lblProvider">
                <label for="lblProvider">activity provider</label>
            </div>
        </div>
        <div class="input-field col s12">
                <input class="validate" ng-model="vm.course" id="lblCourse" type="text">
                <label for="lblCourse">activity name</label>
                <button class="waves-effect waves-light btn" ng-click="addCourse()">log time</button>
                <button class="modal-trigger waves-effect waves-light btn" data-target="modal1">add timekeeper</button>
        </div>

    </form>
 
    <div class="selected-user section col s5" ng-show="timekeeper">
        <h5>{{ timekeeper.lastname }}, {{ timekeeper.firstname }} </h5>
    </div>


    <div class="row">
        <div ng-repeat="listCourse in listCourses">
            <div class="col s12 card grey lighten-2">
                <span class="row">
                    <br>
                    <div class="left"><b><i class="tiny material-icons">mode_edit</i>{{listCourse.course}}</b></div>
                    <div class="right"><b>{{listCourse.date}}</b></div>
                </span>
                <span class="row">
                    <div class="left"><small>Provider: {{listCourse.provider}} | {{listCourse.category}} | {{listCourse.study}}</small></div>
                    <div class="right">{{listCourse.hours | setDecimal:2}} <small>hrs</small></div>
                </span>
            </div>
        </div>
    </div>

    <div class="col s12">
        <div class="totals right" ng-show="timekeeper">
            <h5><i class="small material-icons">query_builder</i> total time: <span>{{listCourses|total:'hours'|setDecimal:2}} hours</span></h5>
        </div>
    </div>
    
    <div class="totals" ng-hide="timekeeper">
        <div class="left">
            select timekeeper to get started
            <br>
            <small>mcleTrackr developed by David Goussev (@dpg5000)</small>
        </div>
        <div class="right">
            <button class="modal-trigger waves-effect waves-light btn" data-target="modal1">add timekeeper</button>
        </div>
    </div>
    
</div>



<div ng-controller="ModalCtrl">
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>add timekeeper</h4>
                <div class="row">
                    <div class="input-class col s8">
                        <input class="form-control" type="text" placeholder="enter email" ng-model="username">
                    </div>
                </div>
                <div class="row">
                    <div class="input-class col s4">
                        <input class="form-control" type="text" placeholder="enter first name" ng-model="firstname">
                    </div>
                    <div class="input-class col s4">
                        <input class="form-control" type="text" placeholder="enter last name" ng-model="lastname">
                    </div>
                </div>
        </div>
    <div class="modal-footer">
        <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">cancel</a>
        <button class="waves-effect waves-green btn-flat" type="button" ng-click="ok()">add</button>
    </div>
</div>

   