<nav>
    <div class="nav-wrapper teal z-depth-2">
        <div class="row">
            <a class="brand-logo right" href="#">mcleTrackr</a>
            <div class="section col s6 left">
                <select class="browser-default" ng-model="timekeeper" ng-options="timekeeper as timekeeper.username for timekeeper in timekeepers | orderBy:['lastname','firstname']" ng-change="changeTimekeeper(timekeeper)" material-select watch>
                    <option value="" disabled selected>select timekeeper</option>

                </select>
            </div>
        </div>
    </div>
</nav>


<!--
        <div class="section col s4">
            <select class="" ng-model="select.value1" material-select watch>
                <option ng-repeat="value in select.choices">{{value}}</option>
            </select>
        </div>

ng-model="selected.timekeeper"

                    <option value="{{timekeeper}}" ng-repeat="(timekeeperId, timekeeper) in timekeepers | orderBy:['lastname','firstname']">

                    <option value="{{timekeeper}}" ng-repeat="(timekeeperId, timekeeper) in timekeepers | orderBy:['lastname','firstname']">

                            {{timekeeper.username}}
                    
                    </option>
-->


<div class="container">
    
    <form name="courseForm" class="col s12">
        <div class="row">
            <div class="input-field col s4">
                <input type="text" class="datepicker" ng-model="vm.dateIn" placeholder="enter date">
            </div>
            <div class="input-field col s4">
                <input class="validate" ng-model="vm.clockIn" placeholder="enter time">
            </div>
            <div class="input-field col s4">
                <input class="validate" ng-model="vm.categoryIn" placeholder="enter category">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input class="validate" ng-model="vm.course" placeholder="Enter course">
                <button class="waves-effect waves-light btn" ng-click="addCourse()">log time</button>
                <button class="modal-trigger waves-effect waves-light btn" data-target="modal1">add timekeeper</button>
            </div>
        </div>

    </form>
    
    <div class="selected-user section col s5">
        <h5>{{ timekeeper.lastname }}, {{ timekeeper.firstname }}</h5>
    </div>

<!--
    <div class="row">
        <div ng-repeat="time in vm.courseentries">
            <div class="col s12 card grey lighten-2">
                <p>{{time.user_firstname}} {{time.user_lastname}}, {{time.user_email}}</p>
                <span>
                    <p class="left"><i class="tiny material-icons">mode_edit</i> {{time.course}}</p>

                    <p class="right">xxx {{time.dateIn}}, {{time.clockIn}} <small>hrs</small></p>
                </span>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="input-field col s12">
                <input class="validate" ng-model="vm.course" placeholder="Enter course">
                <button class="waves-effect waves-light btn" ng-click="vm.logNewTime()">log time</button>
                <button class="modal-trigger waves-effect waves-light btn" data-target="modal1">add timekeeper</button>
            </div>
        </div>
-->
    <div class="row">
        <div ng-repeat="listCourse in listCourses">
            <div class="col s12 card grey lighten-2">
                <p>{{listCourse.username}} {{time.user_lastname}}, {{time.user_email}}</p>
                <span>
                    <p class="left"><i class="tiny material-icons">mode_edit</i> {{listCourse.course}}</p>

                    <p class="right">xxx {{time.dateIn}}, {{time.clockIn}} <small>hrs</small></p>
                </span>
            </div>
        </div>
    </div>

    <div class="col s12">
        <div class="totals right">
            <h5><i class="small material-icons">query_builder</i> total time: <span>{{vm.totalTime.hours}} hours</span></h5>
        </div>
    </div>
    
    <div class="totals">the hell is going on?</div>
    
</div>



<div ng-controller="ModalCtrl">
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>add timekeeper</h4>
                <div class="row">
                    <div class="input-class col s8">
                        <input class="form-control" type="text" placeholder="enter email" ng-model="timekeeper.username">
                    </div>
                </div>
                <div class="row">
                    <div class="input-class col s4">
                        <input class="form-control" type="text" placeholder="enter first name" ng-model="timekeeper.firstname">
                    </div>
                    <div class="input-class col s4">
                        <input class="form-control" type="text" placeholder="enter last name" ng-model="timekeeper.lastname">
                    </div>
                </div>
        </div>
    <div class="modal-footer">
        <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">cancel</a>
        <button class="waves-effect waves-green btn-flat" type="button" ng-click="ok()">add</button>
    </div>
</div>

   